<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>My Todo Page</h1>
    
    <button class="button button-clear button-positive" ui-sref="app.createTodo">New</button>  
</ion-header-bar>
<div class="bar bar-subheader item-input-inset mylistfilter">
	<label class="item-input-wrapper">
		<i class="icon ion-search placeholder-icon"></i>
	    <input type="text" ng-model="{{'Search' | translate}}">
	</label>
</div>
<ion-content class='has-subheader'>

	<ion-list>
		<ion-item 
			ng-repeat="model in controller.collection.models  | todosFilter:search"
			ui-sref="app.editTodo({ SelectedTodo: model, myTodoCol: null, backpage: 'app.mytodopage'})"
			
			>
				<div class='row'>
					<div class='col'>
						<div class="col-md-3 nowrap">
							
							<span ng-show="model.dateEnd != null">  
								
								<span> {{model.dateEnd | date:'d MMM' }} {{model.dateEnd | date:'hh:mm' }}</span>
							</span>
						</div>
						<div class="col-md-9 nowrap">
							<span ng-show="model.project">{{model.project}}, </span>
							<span ng-show="model.location">{{model.task}}, {{model.location}}</span>
							<span ng-show="!model.location">{{model.task}}</span>
						</div>
					</div>
				</div>
				
				<ion-option-button class="button button-assertive icon-left ion-trash-a" on-tap="$event.stopPropagation(); $parent.controller.collection.remove(model);">Delete</ion-option-button>
		</ion-item>
	</ion-list> 
	
	<ion-infinite-scroll
	 ng-if="collection.state.page < collection.state.total_page" on-infinite="loadMore()">
		</ion-infinite-scroll>
</ion-content>
